USE [master]
GO
/****** Object:  Database [QLGV]    Script Date: 08/10/2024 14:03:38 ******/
CREATE DATABASE [QLGV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLGV', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLGV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLGV_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLGV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLGV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLGV]
GO
/****** Object:  Table [dbo].[DIEUKIEN]    Script Date: 08/10/2024 14:03:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEUKIEN](
	[MAMH] [varchar](10) NOT NULL,
	[MAMH_TRUOC] [varchar](10) NOT NULL,
 CONSTRAINT [PK_DK] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC,
	[MAMH_TRUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIANGDAY]    Script Date: 08/10/2024 14:03:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGDAY](
	[MALOP] [char](3) NOT NULL,
	[MAMH] [varchar](10) NOT NULL,
	[MAGV] [char](4) NULL,
	[HOCKY] [tinyint] NULL,
	[NAM] [smallint] NULL,
	[TUNGAY] [smalldatetime] NULL,
	[DENNGAY] [smalldatetime] NULL,
 CONSTRAINT [PK_GD] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 08/10/2024 14:03:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGV] [char](4) NOT NULL,
	[HOTEN] [varchar](40) NULL,
	[HOCVI] [varchar](10) NULL,
	[HOCHAM] [varchar](10) NULL,
	[GIOITINH] [varchar](3) NULL,
	[NGSINH] [smalldatetime] NULL,
	[NGVL] [smalldatetime] NULL,
	[HESO] [numeric](4, 2) NULL,
	[MUCLUONG] [money] NULL,
	[MAKHOA] [varchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCVIEN]    Script Date: 08/10/2024 14:03:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCVIEN](
	[MAHV] [char](5) NOT NULL,
	[HO] [varchar](40) NULL,
	[TEN] [varchar](10) NULL,
	[NGSINH] [smalldatetime] NULL,
	[GIOITINH] [varchar](3) NULL,
	[NOISINH] [varchar](40) NULL,
	[MALOP] [char](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KETQUATHI]    Script Date: 08/10/2024 14:03:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KETQUATHI](
	[MAHV] [char](5) NOT NULL,
	[MAMH] [varchar](10) NOT NULL,
	[LANTHI] [tinyint] NOT NULL,
	[NGTHI] [smalldatetime] NULL,
	[DIEM] [numeric](4, 2) NULL,
	[KQUA] [varchar](10) NULL,
 CONSTRAINT [PK_KQT] PRIMARY KEY CLUSTERED 
(
	[MAHV] ASC,
	[MAMH] ASC,
	[LANTHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 08/10/2024 14:03:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [varchar](4) NOT NULL,
	[TENKHOA] [varchar](40) NULL,
	[NGTLAP] [smalldatetime] NULL,
	[TRGKHOA] [char](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 08/10/2024 14:03:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [char](3) NOT NULL,
	[TENLOP] [varchar](40) NULL,
	[TRGLOP] [char](5) NULL,
	[SISO] [tinyint] NULL,
	[MAGVCN] [char](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 08/10/2024 14:03:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [varchar](10) NOT NULL,
	[TENMH] [varchar](40) NULL,
	[TCLT] [tinyint] NULL,
	[TCTH] [tinyint] NULL,
	[MAKHOA] [varchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DIEUKIEN]  WITH CHECK ADD  CONSTRAINT [FK_MAMH] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[DIEUKIEN] CHECK CONSTRAINT [FK_MAMH]
GO
ALTER TABLE [dbo].[DIEUKIEN]  WITH CHECK ADD  CONSTRAINT [FK_MAMON_TRUOC] FOREIGN KEY([MAMH_TRUOC])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[DIEUKIEN] CHECK CONSTRAINT [FK_MAMON_TRUOC]
GO
ALTER TABLE [dbo].[GIANGDAY]  WITH CHECK ADD  CONSTRAINT [FK_GD_MAGV] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[GIANGDAY] CHECK CONSTRAINT [FK_GD_MAGV]
GO
ALTER TABLE [dbo].[GIANGDAY]  WITH CHECK ADD  CONSTRAINT [FK_GD_MALOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[GIANGDAY] CHECK CONSTRAINT [FK_GD_MALOP]
GO
ALTER TABLE [dbo].[GIANGDAY]  WITH CHECK ADD  CONSTRAINT [FK_GD_MAMH] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[GIANGDAY] CHECK CONSTRAINT [FK_GD_MAMH]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GV_MAKHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [FK_GV_MAKHOA]
GO
ALTER TABLE [dbo].[HOCVIEN]  WITH CHECK ADD  CONSTRAINT [FK_HV_MALOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[HOCVIEN] CHECK CONSTRAINT [FK_HV_MALOP]
GO
ALTER TABLE [dbo].[KETQUATHI]  WITH CHECK ADD  CONSTRAINT [FK_KQT_MAHV] FOREIGN KEY([MAHV])
REFERENCES [dbo].[HOCVIEN] ([MAHV])
GO
ALTER TABLE [dbo].[KETQUATHI] CHECK CONSTRAINT [FK_KQT_MAHV]
GO
ALTER TABLE [dbo].[KETQUATHI]  WITH CHECK ADD  CONSTRAINT [FK_KQT_MAMH] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[KETQUATHI] CHECK CONSTRAINT [FK_KQT_MAMH]
GO
ALTER TABLE [dbo].[KHOA]  WITH CHECK ADD  CONSTRAINT [FK_MAGV_TRGKHOA] FOREIGN KEY([TRGKHOA])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[KHOA] CHECK CONSTRAINT [FK_MAGV_TRGKHOA]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_GVCN] FOREIGN KEY([MAGVCN])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_GVCN]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_TRGLOP] FOREIGN KEY([TRGLOP])
REFERENCES [dbo].[HOCVIEN] ([MAHV])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_TRGLOP]
GO
ALTER TABLE [dbo].[MONHOC]  WITH CHECK ADD  CONSTRAINT [FK_MK_MAKHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[MONHOC] CHECK CONSTRAINT [FK_MK_MAKHOA]
GO
ALTER TABLE [dbo].[GIANGDAY]  WITH CHECK ADD CHECK  (([TUNGAY]<[DENNGAY]))
GO
ALTER TABLE [dbo].[GIANGDAY]  WITH CHECK ADD CHECK  (([HOCKY]>=(1) AND [HOCKY]<=(3)))
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD CHECK  ((datepart(year,[NGVL]-[NGSINH])>=(22)))
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD CHECK  (([GIOITINH]='Nam' OR [GIOITINH]='Nu'))
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD CHECK  (([HOCVI]='CN' OR [HOCVI]='KS' OR [HOCVI]='ThS' OR [HOCVI]='TS' OR [HOCVI]='PTS'))
GO
ALTER TABLE [dbo].[HOCVIEN]  WITH CHECK ADD CHECK  (([GIOITINH]='Nam' OR [GIOITINH]='Nu'))
GO
ALTER TABLE [dbo].[KETQUATHI]  WITH CHECK ADD  CONSTRAINT [CHECK_DIEM] CHECK  (([DIEM]>=(0) AND [DIEM]<=(10) AND right(CONVERT([varchar],[DIEM]),(3)) like '.__'))
GO
ALTER TABLE [dbo].[KETQUATHI] CHECK CONSTRAINT [CHECK_DIEM]
GO
ALTER TABLE [dbo].[KETQUATHI]  WITH CHECK ADD  CONSTRAINT [CHECK_KQ] CHECK  (([KQUA]='Dat' AND ([DIEM]>=(5) AND [DIEM]<=(10)) OR [KQUA]='Khong dat' AND [DIEM]<(5)))
GO
ALTER TABLE [dbo].[KETQUATHI] CHECK CONSTRAINT [CHECK_KQ]
GO
ALTER TABLE [dbo].[KETQUATHI]  WITH CHECK ADD CHECK  (([LANTHI]<=(3)))
GO
ALTER TABLE [dbo].[MONHOC]  WITH CHECK ADD CHECK  ((([TCLT]-[TCTH])<=(3)))
GO
USE [master]
GO
